<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Blog</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Blog", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Posts", "Index", "Posts")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Create Post", "Create", "Posts")</li>
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Admins Panel", "AdminPanel", "Home")</li>
                    }
                  
                    
                </ul>

               

                @Html.Partial("_LoginPartial")




            
                Search by:
                <select id="SelectOptions">
                    <option value="1">Title</option>
                    <option value="2">Tags</option>
                    <option value="3">Author</option>
                    <option value="4">Posts</option>
                    <option value="5">Comments</option>
                </select>


                <div id="TitleSearch">
                    @using (Html.BeginForm("SearchTitles", "Posts"))
                    {
                        <input type="text" id="ss" name="SearchString" />
                        <input type="submit" value="Search" />
                    }
                </div>
                
                <div id="TagsSearch">
                    @using (Html.BeginForm("SearchTags", "Posts"))
                    {
                        <input type="text" id="ss" name="SearchString" />
                        <input type="submit" value="Search" />
                    }
                </div>

                <div id="AuthorsSearch">
                    @using (Html.BeginForm("SearchAuthors", "Posts"))
                    {
                        <input type="text" id="ss" name="SearchString" />
                        <input type="submit" value="Search" />
                    }
                </div>

                <div id="PostsSearch">
                    @using (Html.BeginForm("SearchPosts", "Posts"))
                    {
                        <input type="text" id="ss" name="SearchString" />
                        <input type="submit" value="Search" />
                    }
                </div>

                <div id="CommentsSearch">
                    @using (Html.BeginForm("SearchComments", "Comments"))
                    {
                        <input type="text" id="ss" name="SearchString" />
                        <input type="submit" value="Search" />
                    }
                </div>


                <script>
                    $(document).ready(function () {
                        $('#SelectOptions').change(function () {

                            if ($(this).find(':selected').val() === '1') {
                                $("#TitleSearch").show();
                            } else {
                                $("#TitleSearch").hide();
                            }

                            if ($(this).find(':selected').val() === '2') {
                                $("#TagsSearch").show();
                            } else {
                                $("#TagsSearch").hide();
                            }

                            if ($(this).find(':selected').val() === '3') {
                                $("#AuthorsSearch").show();
                            } else {
                                $("#AuthorsSearch").hide();
                            }

                            if ($(this).find(':selected').val() === '4') {
                                $("#PostsSearch").show();
                            } else {
                                $("#PostsSearch").hide();
                            }
                            if ($(this).find(':selected').val() === '5') {
                                $("#CommentsSearch").show();
                            } else {
                                $("#CommentsSearch").hide();
                            }
                            
                        });
                    });
                </script>
               



                
               
            </div>
            
        </div>
    </div>
    <div class="container body-content">
        @Html.Partial("_Notifications")
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Blog</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
