@model WebProject.Models.Post

@{
    ViewBag.Title = "Details";
}



<div id="PostBox">

    <h2>@Model.Title</h2>

    <div id="PostText">
        @Model.Body
    </div>


    <div>
        Posted by
        @if (Model.Author.FullName != null)
        {
            @: @Model.Author.FullName<i>(@Html.ActionLink(Model.Author.UserName, "UserDetails", "Home", new { UserName = Model.Author.UserName }, null))</i>


        }
        else
        {
            @: @Html.ActionLink(Model.Author.UserName, "UserDetails", "Home", new { UserName = Model.Author.UserName }, null)
                    }
        on <i>@Model.Date</i>
    </div>


    <div>
        Views: @Model.ViewCount Comments: @Model.Comments.Count
    </div>

    <div>
        Tags:
        @foreach (var tag in Model.Tags)
        {
            <span class="badge" style="background:#41474D">@Html.ActionLink(tag.Name, "SearchTags", new { SearchString = tag.Name }, new { style = "text-decoration:none;color:white" })</span>

        }
    </div>

</div>



@if (User.Identity.IsAuthenticated)
{
    <div class="btn btn-default" style="margin-top:1%; margin-bottom:1%">
        @Html.ActionLink("Add Comment", "Create", "Comments", new { id = Model.Id }, null)
       
    </div>
}




@foreach (var comment in ViewBag.Comments)
{
    string commentAuthor = comment.Author.UserName;

    <div id="CommentText">
        <span class="SmallText">@Html.ActionLink(commentAuthor, "UserDetails", "Home", new { UserName = comment.Author.UserName }, null) said:</span> <br />
        @comment.Body <br />
        <span class="SmallText">on @comment.Date</span>
    </div>
   
}





<p>
    @if (Model.Author.UserName == User.Identity.Name || User.IsInRole("Administrator"))
    {
       @: @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    }
    @Html.ActionLink("Back to List", "Index")
</p>
