@using WebProject.Models;
@using WebProject.Classes;
@{
    ViewBag.Title = "Home Page";
}
@model List<Post>





<div id="wrapper">

    <div id="sidebar-wrapper">
        
        <ul class="sidebar-nav">

            <li><h3>Most Viewed Posts:</h3></li>
            @foreach (var post in ViewBag.PopularPosts)
            {
                string text = CutText.Cutter(post.Title,40);
                <li>@Html.ActionLink(text, "Details", "Posts", new { id = post.Id }, null) </li>
            }
            <li><hr /></li>
            <li><h3>Newest Posts:</h3></li>
            @foreach (var post in ViewBag.NewestPosts)
            {
                string text = CutText.Cutter(post.Title,40);
                <li>@Html.ActionLink(text, "Details", "Posts", new { id = post.Id }, null) </li>
            }
            <li><hr /></li>
            <li><h3>Latest comments:</h3></li>
            @foreach (var comment in ViewBag.Comments)
            {
                string text = CutText.Cutter(comment.Body,30);
                <li>@Html.ActionLink(text, "Details", "Posts",new { id = comment.Post.Id },null) </li>
            }
            

           
        </ul>

    </div>

   

    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container">


                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-12">
                            <div id="PostBox" style="margin-right:40%">

                                <h2>@item.Title</h2>

                                <div id="PostText">
                                    @CutText.Cutter(item.Body, 300)
                                </div>


                                <div>
                                    Posted by
                                    @if (item.Author.FullName != null)
                                    {
                                        @: @item.Author.FullName<i>(@Html.ActionLink(item.Author.UserName, "UserDetails", "Home", new { UserName = item.Author.UserName }, null))</i>


                                    }
                                    else
                                    {
                                        @: @Html.ActionLink(item.Author.UserName, "UserDetails", "Home", new { UserName = item.Author.UserName }, null)
                                     }
                                    on <i>@item.Date</i>
                                </div>


                                <div>
                                    Views: @item.ViewCount Comments: @item.Comments.Count
                                </div>

                                <div>
                                    Tags:
                                    @foreach (var tag in item.Tags)
                                    {
                                        <span class="badge" style="background:#41474D">@Html.ActionLink(tag.Name, "SearchTags","Posts", new { SearchString = tag.Name }, null)</span>

                                    }
                                </div>

                                <div class="btn btn-default" style="margin-top:1%">
                                    @Html.ActionLink("Read more", "Details", "Posts",new { id = item.Id }, null )
                                </div>

                                <div style="float:right;margin-top:25px;margin-right:2px">
                                    @if (item.Author != null && (item.Author.UserName == User.Identity.Name || User.IsInRole("Administrator")))
                                    {
                                        @: [ @Html.ActionLink("Edit", "Edit","Posts", new { id = item.Id },null) ] [ @Html.ActionLink("Delete", "Delete","Posts", new { id = item.Id },null) ]
                                    }
                                </div>
                            </div>

                        </div>
                    }
                </div>

            </div>
        </div>
    </div>


</div>


